@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --light-blue-100: #F3F5FC;
    --light-blue-200: #45565F;
    --dark-blue-300: #0A3871;
    --gray-100: #CED4DA;
    --gray-500: #343A40;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    min-height: 100vh;
    background-color: var(--light-blue-100);
    padding: 0;
    padding-top: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 32px;
    max-width: 1050px;
    margin: 0 auto;
}

.conteiner {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    gap: 16px;
    height: calc(100% - 80px);
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px 0;
}

.btn_confg {
    display: flex;
    gap: 24px;
}

.buttons {
    width: 328px;
    padding: 24px;
    border: 1px solid var(--dark-blue-300);
    border-radius: 24px;
    cursor: pointer;
    font-weight: 500;
    gap: 70px;
}



.buttons:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

#btnCript {
    background-color: var(--dark-blue-300);
    color: var(--gray-100);
}

#btnDescript {
    color: var(--dark-blue-300);
}

#btnCopy {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: var(--dark-blue-300);
    color: var(--gray-100);
    margin-top: 25%;
    
}

.input_area {
    display: flex;
    flex: 1;
    gap: 16px;
    flex-direction: column;
    max-width: 680px;
    padding: 32px 0;
    padding-top: 80px;
    width: 100%;
    margin-left: auto;
}

.texto_entrada {
    flex: 1;
    font-size: 32px;
    background-color: transparent;
    resize: none;
    color: var(--dark-blue-300);
}

.texto_entrada::placeholder {
    color: var(--dark-blue-300);
}

.atencao {
    display: flex;
    gap: 8px;
}

#msg_validacao {
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-500);
}

.output_area {
    position: relative;
    width: 100%;
    max-width: 340px;
    background-color: white;
    padding: 32px;
    border-radius: 32px;
    overflow-y: hidden;
}

.texto_saida {
    position: relative;
    font-size: 24px;
    resize: none;
    color: var(--dark-blue-300);
}

#output_vazio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    color: var(--light-blue-200);

}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue-300);
    color: var(--gray-100);
    padding: 0 16px;
    height: 80px;
}

.creditos {
    font-size: 16px;
    max-width: 940px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
}

.output_form {
    display: none;
}

@media (max-width: 1200px) {
    .conteiner {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
        padding: 24px 16px;
    }
}

@media (max-width: 768px) {
    .conteiner {
        display: flex;
        flex-direction: column;
        height: fit-content;
        min-height: 100vh;
        padding: 24px;
        margin-top: 24px;
    }
}

@media (max-width: 375px) {
    .texto_entrada {
        min-height: 30vh;
    }
}